*.bin
*.gise
*.prm
*.ipf
*.twr
*.xst
*.xpi
*.cfi
*.xrpt
*.xml
*.bit
*.bld
*.lso
*.par
*.pcf
*.pgn
*.drc
*.ncd
*.ngc
*.ngd
*.ngd
*.prj
*.bgn
*.pad
*.ngr
*.syr
*.twx
*.unroutes
*.ptwx
*.stx
*.ut
*.mcs
*.map
*.mrp
*.ngm
*.csv
*.txt
*.cmd_log
*.html
*.xwbt
*.log
_ngo/*
ipcore_dir/*
_xmsgs
xst
xlnx_auto_0_xdb
