db
flash
*.summary
*.sof
*.prj
*.xst
*.cmd_log
webtalk_pn.xml
*.lso
*.ngr
*.syr
*.xrpt
*.stx
*.xml
*.html
*.gise
*.bin
*.cfi
*.prm
*.bgn
*.bit
*.bld
*.drc	
*.xsl
*.xwbt
*.txt
*.log
_ngo/
_xmsgs/
netgen/
xlnx_auto_0_xdb/
xst
*.xreport
*.xmsgs
*.xpi
*.drc
*.ncd
*.ngc
*.ngd
*.pad
*.par
*.pcf
*.ptwx
*.twr
*.twx
*.unroutes
*.ut
*.map
*.mrp
*.ncd
*.ngm
*.csv
