*.gise
_xmsgs/
*.bgn
*.drc
*.ncd
*.ngd
*.ngc
*.pad
*.par
*.pcf
*.prj
*.ptwx
*.stx
*.syr
*.twr
*.twx
*.unroutes
*.xpi
*.xst
*_summary.html
*_usage.xml
*.log
iseconfig/
xlnx_auto_*
_ngo/
*.html
*.bld
*.cmd_log
*.lso
*.xrpt
*.debug
